
.Liste{
.card{
    background-color: #fefee0;
    border: 3px solid #543D35;
}
.bloc-image{
    display: flex;
    justify-content: center;
}
.bloc-image img{
    object-fit: contain;
}
.card-body .bloc-titre{
    text-align: center;
    color: #543D35;
}
.btn{
    background-color: #fefee0;
    border: 2px solid #543D35;
    transition: all ease .6s;
}
.btn:hover{
    background-color: #543D35;
    border: 2px solid #fefee0;
    color: white;
}
.btn-active{
    background-color: #543D35;
    border: 2px solid #fefee0;
    color: white;
}
}