.parcelles-list {
  padding: 16px;
  max-width: 90%;
  margin: 20px auto;
  .item-liste{
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-width: 100%;
    background-color: white;
    .btn-none-parcelle{
        color: rgb(255, 255, 255);
        background-color: #198754;
        border-radius: 79px;
        width: 25px;
        display: inline-block;
        font-size: larger;
        text-align: center;
      }
  }
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 2px solid #eee;
    transition: background-color 0.3s ease;
    cursor: default;

    &:hover {
      background-color: #f0f9f5;
      
    }

    &:last-child {
      border-bottom: none;
    }

    .btn {
      padding: 8px 16px;
      color: #ffffff;
      background-color: #198754;
      border: solid 3px #198754;
      border-radius: 8px; /* arrondi plus important */
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 1rem;
      transition: all 0.25s ease;

      &.mod:hover {
        background-color: #543D35;
        border: solid 3px #543D35;
      }

      &.supp:hover {
        background-color: #9C2828;
        border: solid 3px #9C2828;
      }
    }
  }

  .popup-confirmation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    .popup-content {
      background: white;
      padding: 20px 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px black;
      max-width: 400px;
      text-align: center;

      .btn {
        transition: all ease 0.2s;
      }

      .delete{
        background-color: #9C2828;
        border: #9C2828 3px solid;
        padding: 5px 16px;
        margin-right: 5px;
        transition: all ease 0.2s;
      } .delete:hover{
        background-color: #ffffff;
        color: #9C2828;

      }
      
      .cancel{
        transition: all ease 0.2s;
      }.cancel:hover{
        background: #ffffff;
        color: #198754;
        border: #198754 3px solid;
      }

    }
  }
  @media screen and (max-width: 520px){
    .bloc-titre{
      text-align: center;
    }
    .lien {
      display: flex;
      flex-direction: column;

    }
    .lien .btn{
      font-size: smaller;
      margin-bottom: 5px;
      margin-right: 0;
      padding: 6px 12px;    
    }
  }
}
