html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'nunito';
}

h1, h2, h3, h4, h5, h6, button, input, textarea, select {
  font-family: 'quicksand';
}

button {
    padding: 10px 20px;
    background-color: #198754;
    border: solid 3px #198754;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

button:hover {
  border: solid 3px #543d35;
  /* box-shadow: 1px 1px 1px 1px #543d35; */
}

input, textarea, select {
    padding: 8px 16px;
    border-radius: 8px;
    border: solid 3px #543D35;
    box-shadow: none;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 60px;
  background-color: #198754;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex-shrink: 0;
}

.main {
  display: flex;
  flex: 1;
  background-color: #e8f5e9;
  overflow: hidden;
}

.content {
  flex: 1;
  /* padding: 20px; */
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #c8e6c9;
  /* padding-left: 1rem; */
}

.sidebar {
  width: 200px;
  background-color: #c8e6c9;
  flex-shrink: 0;
  padding: 20px;
}
.bloc-titre{
  font-family: "Quicksand";
  font-size: xx-large;
  font-weight: bold;
  }
.bloc-text{
  font-family: "Nunito";
  
}

input[type=range] {
  accent-color: #198754;
}

.form-plante {
  width: 40%;
}

@media screen and (max-width: 991px) {
  .form-plante {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin-bottom: 80px;
  }

  .form-plante {
    width: 100%;
  }
}