body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 60px;
  background-color: #198754;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex-shrink: 0;
}

.main {
  display: flex;
  flex: 1;
  background-color: #e8f5e9;
  overflow: hidden;
}

.content {
  flex: 1;
  /* padding: 20px; */
  overflow-y: auto;
  background-color: #c8e6c9;
  
}

.sidebar {
  width: 200px;
  background-color: #c8e6c9;
  flex-shrink: 0;
  padding: 20px;
}
.bloc-titre{
  font-family: "Quicksand";
  font-size: xx-large;
  font-weight: bold;
  }
.bloc-text{
  font-family: "Nunito";

  }